/*CSS goes here*/

/****remove this****/
#info {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5);
    z-index:9999;
}
/*******************/

html, body {
    background: #FFFFFF;
    height: 400vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x:hidden;
}

.form-text {
    color: #337ab7;
    text-align: center;
    vertical-align: middle;
}

section {
  height: 100vh;
}

section:nth-child(1) {
    background-color: #A3B79A;
}

section:nth-child(2) {
    background-color: #A3B79A;
    //background-color: #e6e6e6;
}

section:nth-child(3) {
    background-color: #A3B79A;
    //background-color: #a878c0;
}
section:nth-child(4) {
    background-color: #A3B79A;
    //background-color: #fff;
}

.half-div{
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50vh;
  overflow-x:hidden;
  overflow-y:hidden;
  //border: 1px solid black;
}


.div-centered{
      position: fixed;
      width: 100vw;
      margin-top: 20vh;
      margin-bottom: 25vh;
}


.div-box2-text {
  position: fixed;
  width: 100vw;
  margin-top: 0vh;
}

.text-centered {
    text-align:center;
}

.child-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

@media screen and (max-device-width: 640px){
    .div-centered{
      position: fixed;
      width: 100vw;
      margin-top: 25vh;
      margin-bottom: 25vh;

    }
}