/* Centered Rows and Columns styles */
.row-centered {
    text-align:center;
    color: #e6e6e6;
    border: 1px solid;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*Image props*/
div.img-div {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.img-div img {
    -webkit-transform: translate(-50%);
    margin-left: 100px;
}

.logo {
    height: 14em;
    width: 14em;
    overflow: hidden;
    border-radius: 50%;
    margin: 1em;
}

/*General page elements*/

.header {
    border: .3em solid #d9534f;
}

.content-section {
    border: .3em solid #00B200;
    height: 50em;
}

.btn-circle.btn-xl {
    width: 6em;
    height: 6em;
    font-size: 1.5em;
    line-height: 2.5;
    border-radius: 50%;
    margin: .8em;
}

.button-section {
    border: .3em solid #337ab7;
}

#logo-div {
    font-family: 'Voltaire', sans-serif;
}

.logo-450{
    font-family: 'Luckiest Guy', cursive;
    font-size: 450%;
    color: #3E4406;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box h3{
	text-align:center;
	position:relative;
	top:80px;
}

.box {
	width:50vw;
	height:25vh;
	background:#FFF;
	position: fixed;
	margin-top: 25vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

.box2 {
	width:50vw;
	height:25vh;
	background:blue;
	position: fixed;
	margin-top: 23vh;
    margin-left: 24vw;
    margin-right: 25vw;
}
