<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>

    </title>
</head>

<body ng-app="piggyBank">

<div ng-controller="PiggyBankController" ng-cloak>
    <!--Do we need to wrap it in a div?-->
    <section id="box1">
        <div class="container-fluid">
            <div class="row half-div">
                <h1> Box1 </h1>
            </div>
            <div class="row half-div" id="logo-div">
                {% block logo_block %}
                {% endblock %}
            </div>
        </div>
    </section>
    <section id="box2">
        <div class="container-fluid">
            <h1>Box 2</h1>
        </div>
    </section>
    <section id="box3">
        <div class="container-fluid">
            <h1> Box3 </h1>
        </div>
    </section>
          <section id="box4">
            <div class="container-fluid">
                 <h1> Box4 </h1>

            </div>
    </section>
    <!------------------------------------>
</div>
<!-- Changed static to ../static/static-->

<!--<link rel="stylesheet" type="text/css" href="../static/static/vendor/bootstrap/3.3.4/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="../static/static/css/app.css">-->
<!--<link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>-->
<!--<script src="../static/static/vendor/bootstrap/3.3.4/js/bootstrap.js"></script>-->
<!--<script src="../static/static/vendor/angular/1.3.15/angular.js"></script>-->
<!--<script src="../static/static/controllers/piggyBankController.js"></script>-->


<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/app.css">
<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
<script src="static/vendor/bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="static/vendor/angular/1.3.15/angular.js"></script>
<script src="static/controllers/piggyBankController.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/page_elements.css">
</body>
</html>