/* Centered Rows and Columns styles */
.row-centered {
    text-align:center;
    color: #e6e6e6;
    border: 1px solid;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*****************Image props*****************/
div.img-div{
    height:15vh;
    width:10vh;
    overflow:hidden;
    border-radius:50%;
    margin-top: -1%;
    z-index:9999;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}

.img-div-centered {
  position: fixed;
  margin-left: 20%;
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
    div.img-div{
        height:15vh;
        width:10vh;
        overflow:hidden;
        border-radius:50%;
        margin-top: -1%;
        z-index:9999;
    }

    .img-div img{
        -webkit-transform:translate(-50%);
        margin-left:100px;
    }

    .img-div-centered {
      position: fixed;
      margin-left: 30%;
    }
}


/************************* LOGO **************************/
.logo {
    height: 14em;
    width: 14em;
    overflow: hidden;
    border-radius: 50%;
    margin: 1em;
}

/********************** Fonts *****************************/
.logo-450{
    font-family: 'Luckiest Guy', cursive;
    font-size: 450%;
    color: #3E4406;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content{
    font-family: 'Architects Daughter', cursive;
    color:#D47F24;
}

.currency-font{
    font-family: 'Architects Daughter', cursive;
    color: #584C46;
}


/*******************General page elements******************/

.header {
    border: .3em solid #d9534f;
}

.content-section {
    border: .3em solid #00B200;
    height: 50em;
}

.btn-circle.btn-xl {
    width: 6em;
    height: 6em;
    font-size: 1.5em;
    line-height: 2.5;
    border-radius: 50%;
    margin: .8em;
}

.button-section {
    border: .3em solid #337ab7;
}

#logo-div {
    font-family: 'Voltaire', sans-serif;
}

.box h3{
	text-align:center;
	position:relative;
	top:80px;
}

.box {
	width:50vw;
	height:25vh;
	background:#F5F1DE;
	position: fixed;
	margin-top: 25vh;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box2 {
	width:50vw;
	height:25vh;
	background:#F5F1DE;
	position: fixed;
	margin-top: 24vh;
    margin-left: 26vw;
    margin-right: 25vw;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box3 {
	width:50vw;
	height:25vh;
	background:#F5F1DE;
	position: fixed;
	margin-top: 23vh;
    margin-left: 27vw;
    margin-right: 25vw;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box4 {
	width:50vw;
	height:25vh;
	background:#F5F1DE;
	position: fixed;
	margin-top: 22vh;
    margin-left: 28vw;
    margin-right: 25vw;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}


/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
    .box {
      width: 75vw;
      height: 20vh;
      background: #F5F1DE;
      position: fixed;
      margin-top: 25vh;
      margin-bottom: 0vh;
      margin-left: 14vw;
      margin-right: 26vw;
      padding-top: 1.5%;
      padding-right: 1.5%;
      padding-bottom: 1.5%;
      padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    }

    .box2 {
      width: 75vw;
      height: 20vh;
      background: #F5F1DE;
      position: fixed;
      margin-top: 24vh;
      margin-bottom: 0vh;
      margin-left: 15vw;
      margin-right: 26vw;
      padding-top: 1.5%;
      padding-right: 1.5%;
      padding-bottom: 1.5%;
      padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    }

    .box3 {
      width: 75vw;
      height: 20vh;
      background: #F5F1DE;
      position: fixed;
      margin-top: 23vh;
      margin-bottom: 0vh;
      margin-left: 16vw;
      margin-right: 26vw;
      padding-top: 1.5%;
      padding-right: 1.5%;
      padding-bottom: 1.5%;
      padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

    }

    .box4 {
      width: 75vw;
      height: 20vh;
      background: #F5F1DE;
      position: fixed;
      margin-top: 22vh;
      margin-bottom: 0vh;
      margin-left: 17vw;
      margin-right: 26vw;
      padding-top: 1.5%;
      padding-right: 1.5%;
      padding-bottom: 1.5%;
      padding-left: 1.5%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

    }
}