/*CSS goes here*/
body {
    background: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-text {
    color: #337ab7;
    text-align: center;
    vertical-align: middle;
}

section {
  height: 100vh;
}

section:nth-child(1) {
    background-color: #bada55;
}

section:nth-child(2) {
    background-color: #e6e6e6;
}

section:nth-child(3) {
    background-color: #a878c0;
}