/*CSS goes here*/
<<<<<<< Updated upstream
body {
    background: #F2992E;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.img-div {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.img-div img {
    -webkit-transform: translate(-50%);
    margin-left: 100px;
}

.header {
    border: .3em solid #d9534f;
}

.logo {
    height: 14em;
    width: 14em;
    overflow: hidden;
    border-radius: 50%;
    margin: 1em;
}

.side-pane {
    border: .3em solid #5bc0de;
    height: 50em;
}

.content-section {
    border: .3em solid #00B200;
    height: 50em;
}

.btn-circle.btn-xl {
    width: 6em;
    height: 6em;
    font-size: 1.5em;
    line-height: 2.5;
    border-radius: 50%;
    margin: .8em;
}

.info-well {
    margin-top: 2em;
    width: 75%;
    height: 8em;
}

.button-section {
    border: .3em solid #337ab7;
}

.form-text {
    color: #337ab7;
    text-align: center;
    vertical-align: middle;
}

body {
  background: #F2992E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.img-div{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}

.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("http://placekitten.com/g/200/400");
    display:block;
    background-position-y:25%
}

